.App {
  outline: none;
}

.display-text {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin-top: 40px;
}

.textbox {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin-top: 20px;
}

.isStandby .current-letters,
.isStandby .waiting-letters {
  color: #333;
  animation: none;
}

.current-letters {
  color: rgb(153, 153, 153);
  animation: blinkBorder 0.5s linear infinite alternate;
}

@keyframes blinkBorder {
  0% {
    border-bottom: 6px solid rgb(153, 153, 153);
  }
  100% {
    border-bottom: 6px solid transparent;
  }
}

.typed-letters {
  color: black;
}

.waiting-letters {
  color: rgb(153, 153, 153);
}

.typo {
  color: red;
}

.button-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
}